body {
  background-color: black;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  font-size: 35px;
  border-bottom: 2px solid gold;
  margin: 0;
  padding: 5px;
}
h2 {
  color: white;
}
h4 {
  color: gold;
}
p {
  text-indent: 30px;
  text-align: left;
  color: white;
}
.list {
  font-size: 25px;
  color: white;
  text-decoration: none;
}
ul {
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  margin: 0;
  width: 130px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15%;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#madeby {
  color: gold;
}
strong {
  color: mediumseagreen;
}
#now {
  color: gold;
}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  ul {
    border: none;
    padding-bottom: 10px;
  }
}
#noneindent {
  text-indent: 0px;
}
.title {
  color: white;
  text-decoration: none;
}
